.pagenotfound {
  margin: 2.5rem;
  padding: 2.5rem 5rem;
  background-color: var(--color-dark--1);
  min-height: calc(100vh - 5rem);
  align-items: center;
  text-align: center;
}

.pagenotfound img {
  width: 100%;
  align-items: center;
}

.pagenotfound h1 {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 3rem;
}
